:root {
    --primarColor:#F5841F;
    --secondColor:#16213C;
    --footerText:#8ECAE6;
    --buttonText: #ffffff;
}

html{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.menuUp__text {
    font-weight: 700;
    font-size: 12px;
}
.menuUp__login {
    font-weight: 700;
    font-size: 14px;
}

h1{
    font-weight: 800;
    font-size: 32px;
    color: var(--secondColor);
    text-align: left;
    align-self: flex-start;
    margin-top: 0;
}
.orange {
    color: var(--primarColor);
}
.uvod {
    color: var(--secondColor);
}
h2{
    font-weight: 800;
    font-size: 25px;
    color: var(--secondColor);
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
}
h3 {
    font-weight: 800;
    font-size: 22px;
    color: var(--secondColor);
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}
.h3--left {
    text-align: left;
}
.button {
    font-weight: 700;
    color: var(--buttonText) ;
    text-decoration: none;
}
.pribeh__nadpis {
    font-weight: 800;
    font-size: 20px;
    color: var(--secondColor);
}
.vyhodyCard__text {
    font-weight: 700;
    font-size: 19px;
    color: var(--secondColor);
}
.recenze__jmeno {
    font-weight: 700;
    font-size: 19px;
}
.recenze__profese {
    font-style: italic;
    font-size: 14px;

}
.podrobnostiCard__nadpis {
    font-weight: 700;
    font-size: 19px;
    color: var(--secondColor);
}
.podrobnostiCard__nadpis--funkce {
    color: var(--primarColor);
}


.aktualita__nadpis {
    font-weight: 700;
    font-size: 19px;
}
.aktualita__odkaz {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--primarColor);
}
.aktualita__odkaz:hover {
    color: var(--secondColor);
}



.footer {
    color: var(--footerText);
}
.footer__odkaz {
    text-decoration: none;
    color: var(--footerText);
    font-weight: 400;
    font-size: 12px;
}
.footer__odkaz:hover {
    color: var(--primarColor);
}
.footer__title {
    font-weight: 800;
    font-size: 18px;
}
.footer__paticka {
    font-weight: 400;
    font-size: 11px;
}

.dotazy__mail {
    font-weight: 800;
    font-size: 20px;
    color: var(--secondColor);
}
