

body {
/*position: relative;*/
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

section {
   /* padding: 2em 1em;*/
}
.menuUp__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    /*padding: 0px;*/
    gap: 8px;
   /* margin-left: 1em;*/
}
.uvod {
   /* display: flex;
    flex-direction: column;
    justify-items: right;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 40px;*/
    /*max-width: 20em; */   /*!!!!!!!!!!*/
    margin: 0 2em;
}
.uvodBody{
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
   /* width: 20em;*/
   margin-bottom: 1em;
}

.uvod__img {
   /* width: 100%;*/   
   /* align-self: flex-start;*/
    border-radius: 22.5px;
    max-width: 500px;
}

.loga {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-bottom: 2em;
}
.loga__wrapper {
    display: flex;
    gap: 1em;
}

.vyhody__podrobnosti {
    display: grid;
    justify-items: center;
    gap: 1.5em;
}
.vyhody__cardsGrid {
    display: grid;
    gap: 4em;
    justify-items: center;
}

.pribehFlex {
    padding: 0px;
    gap: 1.5em;
    margin: 0 2em;
}
.pribeh__img {
    border-radius: 4.3%;
    max-width: 500px;
    margin-top: 1.5em;
}

.recenze__wrapper--2 {
    /*display: flex;
    flex-direction: column;
    gap: 4em;*/
}

.aktuality {
    /*display: flex;
    flex-direction: column;
    gap: 2em;*/
    
}
.aktualita__wrapper {
    margin-bottom: 2em;
}


.funkce {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    /*padding: 10px 20px;
    gap: 30px;
    margin-left: 4em;
    margin-right: 4em;
   /* width: 100%;*/
}
.funkce__wrapper {
   /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;*/
}
.funkce__text {
    width: 15em;
}
.vyhody__podrobnosti--funkce {
    padding: 1em;
    border-radius: 0.9em;
}
/*KONTAKT*/
.kontakt__wrapper {      /*style*/
    /*display: flex;
    flex-direction: column;*/
    margin: 0 2em;
    /*gap: 1em;*/
}
.kontakt__wrapper2 {
    margin-bottom: 1em;
}
.kontakt__paticka {
    margin-top: 3em;
}

@media (min-width: 468px) {
    .menuUp__wrapper {
        gap: 0;
    }
    .menuUp__text--phone::after {
        background-color: var(--primarLines);
    }
}

@media (min-width: 768px) {
    
    .nav-link {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }
    

    .uvod {
        max-width: 30em;
    }

    .loga {
        flex-direction: row;
    }
    .vyhody__cardsGrid {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
    .vyhody__podrobnosti {
        grid-template-columns: 1fr 1fr;
    }
    .center {
        align-self: center;
    }
    
    .pribehFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 5em;
        max-width: 900px;
    }
    .pribeh {
        flex-basis: 200px;
        flex-grow: 1;
    }
    .pribeh__img {
        flex-basis: 200px;
        flex-grow: 1;
        max-width: none;
        margin-top: 0;
    }
    .pribeh__text {
       /* width: 20em;*/
    }

    .aktuality {
        display: flex;
        flex-direction: row;
        gap: 8em;
    }

    .funkce__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .funkce__text {
        width: 20em;
    }

    .funkce__wrapper2 {
       /* width: 100%;*/
       margin: 3em;
       margin-top: 0;
    }
    .vyhody__podrobnosti--funkce {
        padding: 3em;
        border-radius: 32px;
    }

    .kontakt__wrapper {
        display: flex;
        gap: 1em;
        max-width: 1000px;
    }
    .kontakt__paticka {
        margin: 0;
    }
    .kontakt__wrapper2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        flex-basis: 310px;
        flex-grow: 1;
    }
    .kontakt__mapaImg {
        flex-basis: 500px;
        flex-grow: 2;
    }
}

@media (min-width: 961px) {
    .uvod {
        display: flex;
        flex-direction: row;
        gap: 2em;
        max-width: 50em
    }
    .uvodBody {
        width: 30em;
    }
    .vyhody__podrobnosti--funkce {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .kontakt__wrapper {
        flex-direction: row;
        margin: 0 2em;
        gap: 3em;
    }
    
}

/* desktop*/
@media (min-width: 1281px) {
    .uvod {
        flex-direction: row;
        max-width: 60em;
        justify-content: center;
    }
    .vyhody__cardsGrid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }
    .vyhody__podrobnosti {
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }

    .recenze__wrapper--2 {
        display: flex;
        gap: 2em;
    }
    
    
}













