

body {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
/*margin-left: 2em;*/
gap: 3em;
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;
}


.uvod {
    display: flex;
    flex-direction: column;
    justify-items: right;
   /* justify-content: flex-start;*/
    align-content: flex-start;
    gap: 40px;
    max-width: 20em;    /*!!!!!!!!!!*/
}
.uvodBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
   /* width: 20em;*/
}

.uvod_img {
    width: 100%;   
   /* align-self: flex-start;*/
    border-radius: 22.5px;
}

.loga {
    /*display: grid;
    grid-template-areas: 
    "a a b b c"
    ". d e e .";
    gap: 2em;
    justify-content: center;
    align-content: center;*/
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.loga__wrapper {
    display: flex;
    gap: 1em;
}

/*.logo_img--1 {
    grid-area: a;
}
.logo_img--2 {
    grid-area: b;
}
.logo_img--3 {
    grid-area: c;
}
.logo_img--4 {
    grid-area: d;
}
.logo_img--5 {
    grid-area: e;
}*/

.vyhody__podrobnosti {
    display: grid;
    justify-items: center;
    gap: 1em;
}
.vyhody__cardsGrid {
    display: grid;
    gap: 4em;
    justify-items: center;
}

.pribehFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 1.5em;
    margin: 0 2em;
}

.recenze__wrapper--2 {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.aktuality {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.funkce {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 30px;
    margin-left: 4em;
    margin-right: 4em;
}
.funkce__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}
.funkce__text {
    width: fit-content;
}

@media (min-width: 768px) {
    .navbar__menu {
        display: flex;
        gap: 1em;
        
    }
    .nav-link {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }

    .uvod {
        max-width: 100%;
    }

    .loga {
        flex-direction: row;
    }
    .vyhody__cardsGrid {
        grid-template-columns: 1fr 1fr;
    }
    .vyhody__podrobnosti {
        grid-template-columns: 1fr 1fr;
    }
    .center {
        align-self: center;
    }

    .pribehFlex {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .pribeh__text {
        width: 20em;
    }

    .aktuality {
        flex-direction: row;
        gap: 8em;
    }

    .funkce__wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .funkce__text {
        width: 20em;
    }
}

@media (min-width: 961px) {

}

/* desktop*/
@media (min-width: 1281px) {
    .uvod {
        flex-direction: row;
        width: 80em;
        justify-content: center;
    }
    .uvodBody {
        width: 33em;
        
    }
    .uvod_img {
        width: 20em;      /*!!!!!!!!!*/
    }


    .vyhody__cardsGrid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }
    .vyhody__podrobnosti {
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }

    .recenze__wrapper--2 {
        flex-direction: row;
    }
}













