

body {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
gap: 80px;
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;
}

.uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.uvod_img {
    border-radius: 22.5px;
    width: 35em;
}

.loga {
    /*display: grid;
    grid-template-areas: 
    "a a b b c"
    ". d e e .";
    gap: 2em;
    justify-content: center;
    align-content: center;*/
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.loga__wrapper {
    display: flex;
    gap: 1em;
}

/*.logo_img--1 {
    grid-area: a;
}
.logo_img--2 {
    grid-area: b;
}
.logo_img--3 {
    grid-area: c;
}
.logo_img--4 {
    grid-area: d;
}
.logo_img--5 {
    grid-area: e;
}*/

.vyhody__podrobnosti {
    display: grid;
    justify-items: center;
    gap: 1em;
}
.vyhody__cardsGrid {
    display: grid;
    gap: 4em;
    justify-items: center;
}

.pribehFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 1.5em;
}

.aktuality {
    display: flex;
    flex-direction: column;
    gap: 2em;
}














