:root {
    --primarColor:#F5841F;
    --secondColor:#16213C;
    --footerText:#8ECAE6;
    --buttonText: #ffffff;
    --vyhodyBg: rgba(142, 202, 230, 0.15);
    --aktualityBg: rgb(245, 245, 245); /*skontrolovat*/
    --text: black;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
.nav-item:hover {        /*font*/
    transition: 0.2s;
    transform: scale(1.1);
    font-weight: 700;
}
.img--responsiv {
    width: 100%;
}

header {
    width: 100%;
}
section {
    margin-top: 2em;
}
.menu__menuUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 50px;
    background-color: var(--aktualityBg);
    /*width: 100%;*/
    position: relative;
    z-index: 2;
}
.menuUp__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 8px;
    margin-left: 1em;
}
.menuUp__login::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(./img/header_login.svg);
    background-position: center;
    background-size: contain;
    margin-right: 0.5em;
}
.menuUp__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
}
.menuUp__text--phone::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(./img/menu_phone.svg);
    background-position: center;
    background-size: contain;
    margin-right: 0.5em;
}
.menuUp__text--mail::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(./img/menu_mail.svg);
    background-position: center;
    background-size: contain;
    margin-right: 0.5em;
}
.menuUp__text {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar {
    position: relative;
    justify-content: space-between;
    align-items: center;
}

/* hamburger menu */
.hamburger-row {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
}
.hamburger {
    display: block;
}

.hamburger-nav ul {
    margin: 0;
    padding: 0;
}
.hamburger-nav li {
    display: block;
    padding: 0.5em 1.5em;
}
.navbar__logo{
    color: var(--white-color);
    position: absolute;
    top: 25%;
    z-index: 5;
    margin-left: 1em;
}

.hamburger-nav li:hover {
    color: var(--buttonText);
}
.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    overflow: hidden;
}
  
.hamburger span {
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--primarColor);
    left: 0;
    transition: 1s;
}

.hamburger span:nth-child(1) { top: 0px; }
  
.hamburger span:nth-child(2) { top: 18px; transition: 0.2s; }
  
.hamburger span:nth-child(3) { bottom: 0px; }

.hamburger-nav {
    transform: translateY(-100%);
    transition: 1s;
}

@media screen and (max-width: 768px) { 
    .hamburger-row {
        position: relative;
        z-index: 1;
        /*display: flex;*/
        background-color: var(--buttonText);
    }
    .hamburger-nav ul li > a {
        color: var(--buttonText);
    }
    .hamburger-nav.active {
        transform: scaleY(1);
    }
    .hamburger-nav.active > .navbar__logo {
        position: absolute;
        top: -3em;
    }
    .hamburger-nav {
        transition: 1s;
        position: absolute;
        background-color: var(--primarColor);
        width: 100%;
        z-index: 0;
        padding-left: 2em;
    }

    .hamburger.active  span:nth-child(1) {
        transition: 1s;
        rotate: 45deg;
        top: 18px;
    }
    .hamburger.active  span:nth-child(2) {
        
        position: absolute;
        transform: translate(100%, 0);
        right: 100%;
        transition: 0.5s;
    }
    .hamburger.active  span:nth-child(3) {
        transition: 1s;
        rotate: 135deg;
        bottom: 18px;
        translate: .7s;
    }
    .hamburger-nav ul > li {
        color: var(--buttonText);              /*:::::*/
    }

}
@media screen and (min-width: 768px) {
    .hamburger-row {
        display: none;
    }
    .hamburger-nav {
        transform: none;
        margin: 1em;
    }
    .navbar__logo {
        top: 6%;
    }
    .hamburger-nav > ul {
       /* height: auto;
        width: 100%;*/
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1em;
    }
    .hamburger-nav li:nth-child(even) {
        background-color: rgba(0, 0, 0, 0);      /*:::::::::*/
    }
    .hamburger-nav li a{
        background-color: rgba(0, 0, 0, 0);      /*vybyrani*/
        color: var(--text);
        transition: .2s;
        text-decoration: none;
        font-weight: 800;
        font-size: 17px;
    }
    .hamburger-nav li {
       padding: 0;
       height: fit-content;
    }
    .hamburger-nav li:hover {
        background-color: rgba(0, 0, 0, 0);
        color: var(--text);
        transform: scale(1.1);
        transition: .2s;
    }
    .button--menu::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 2.2em;
        background-color: var(--aktualityBg);
        position: absolute;
        bottom: 9%;
        margin-left: -2em;
    }
}



header{
   /* position: relative;
    background-size:cover;
    background-position: center;*/
    margin: 0;
    margin-bottom: 2em;
}


.uvodBody__odrazka::before {
    content: "";
    display: inline-block;
    width: 16.3px;
    height: 12.26px;
    background-image: url(./img/uvod_icon.svg);
    background-position: center;
    background-size: contain;
    margin-right: 3px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    border-radius: 30px;
    background-color: var(--primarColor);
}
.button:hover {
    background-color: var(--secondColor);
}
/*.button--S {
    padding: 6.4px 12.8px;
    border-radius: 16px;
}*/
.button--border {
    border: 4px solid var(--primarColor);
    border-radius: 30px;
    color: var(--text);
    background-color: var(--buttonText);
}
.button--border:hover {
    color: var(--buttonText);
    background-color: var(--primarColor);
}
.button--center {
    transform: translate(-50%, 0%);
    position: relative;
    left: 50%;
}

.hidden { 
   position: absolute;
   margin-left: -300em;         /*špatně!!!! od marginovat absolut*/
}


.pribeh {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1em;*/
   /* flex-grow: 2;*/
   flex-basis: 200px;
   flex-grow: 1;
}
.pribeh__text {
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;   /*overflow*/
    /*width: 16em;*/
    height: 4em;
    margin: 0;
    margin: 1em 0;
}
.pribeh__img {
    flex-basis: 200px;
    flex-grow: 1;
   /* width: 100%;*/
    border-radius: 4.3%;
}

.recenze {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 19px;
    margin-bottom: 2em;
}
.recenze__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
   /* width: 339px;*/
}
.recenze__text {
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    width: 230px;
    height: 4em;
}

.recenze__wrapper--1 {
    /*display: flex;
    flex-direction: column;
    gap: 2.5em;
    align-items: center;*/
}

.vyhody {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;*/
    background: var(--vyhodyBg); /*checknout*/
    width: 100%;
    padding-bottom: 2em;
    padding-top: 1em ;
}
.vyhodyCard {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 27px;*/
    width: 304px;
    text-align: center;
}
.vyhody__line {
    border: 1px dashed var(--footerText);
    transform: matrix(1, 0, 0, -1, 0, 0);    /*znytecny*/
    width: 70%;
    position: relative;
    left: 15%;
    margin: 2em 0;
}
.podrobnostiCard {
    background-color: var(--buttonText);
    box-shadow: 0px 0px 25px var(--footerText);   /*barva root*/
    border-radius: 8px;
    padding: 1em;
    width: 15em;
}
.podrobnostiCard__text {
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
   /* width: 15em;*/
    height: 4em;
    color: var(--text);   /*barva root*/
    margin-bottom: 2em;
    margin-top: 1em;
}

.aktualita__text {
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    width: 16em;
    height: 2.8em;
}
.aktuality__wrapper { /*zbytecny*/
    display: grid;
    gap: 1em;
    
}

.aktualita {
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;*/
    margin-right: -3em;
}
.aktualita__wrapper::before {
    content: "24.";
    /*display: inline-block;*/
    width: 43px;
    height: 44px;
    background-image: url(./img/aktualiy.svg);
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--footerText);
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-position-y: 10px;
    /*position: absolute;*/
    margin-left: -3.1em;
    margin-bottom: -2.4em;
}
.aktuality__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--aktualityBg);
    width: 100%;
    padding-top: 1em;
}





footer {
    background-color: var(--secondColor);
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer__kategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.7em;
}
.footer__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 0.25em;
}
.footer__mainWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*justify-content: center;*/
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 1em;
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 2em;
}
.footer__wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.7em;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em;
}

.footer__paticka {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.paticka__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}
.footer__line {
    display: block;
    width: 100%;
    border-top: var(--footerText) solid 1px;
    opacity: 0.2;
}


/*FUNKCE */


.dotazy__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}
.dotazy__text {
    text-align: center;
    width: 20em;
}
.dotazy__mail {
    text-align: center;
}
.dotazy__text--2 {
    text-align: center;
}


.funkce__video::before {
    content: "";
    /*display: inline-block;*/
    width: 50px;
    height: 50px;
    background-image: url(./img/funkce_video.svg);
    /*text-align: center;*/
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
}
.funkce__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    color: var(--text);
    width: fit-content;
}
.podrobnostiCard--funkce {
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);   /*root*/
}

.podrobnostiCard__text::after {
    content: url(./img/funkce__hover.svg);
    display: flex;
    /*width: 14.8px;
    height: 10.59px;*/
    height: 14.8px;
    /*background-position: center;
    background-size: contain;*/
    background-color: var(--primarColor);
    position: absolute;
    padding: 0.7em;
    border-radius: 50%;
    left: 0;
    bottom: -1em;
    opacity: 0;
    transition: .2s;
}
.dotazy {
    margin: 2em 0;
}
.funkce__wrapper {
    /*margin: 0 2em;*/
}
.funkce__wrapper2 {
    align-items: flex-start;
}

.vyhody__podrobnosti--funkce {
    background-color: var(--aktualityBg);
}

.vyhody__podrobnosti--funkce .podrobnostiCard--funkce:hover .podrobnostiCard__text::after {
    opacity: 100;
    left: 1em;
    transition: .5s;
}
.vyhody__podrobnosti--funkce .podrobnostiCard--funkce:hover .podrobnostiCard__nadpis--funkce {
    color: var(--secondColor);
}

/*.funkce__wrapper .funkce__video:hover .funkce__video::before {
    transform: scale(2);
}*/



/* KONTAKT*/ 
.kontakt__background {
    background-color: var(--vyhodyBg);
    width: 100%;
    margin: 6em 0;
    padding: 1em 0;
}

.kontakt__mapaImg {
  /*  width: 100%;*/
}








