:root {
    --primarColor:#F5841F;
    --secondColor:#16213C;
    --footerText:#8ECAE6;
    --buttonText: #ffffff;
    --vyhodyBg: rgba(231, 231, 231, 0.6);
    --aktualityBg: rgba(221, 221, 221, 0.6); /*skontrolovat*/
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
/*a {
    text-decoration: none;
}*/

header {
    width: 100vw;
    
}
.menu__menuUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*margin: 1em;*/
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 50px;
    background-color: var(--aktualityBg);
    width: 100vw;
}
.menuUp__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 8px;
    margin-left: 1em;
}
.menuUp__login::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/img/header_login.svg);
    background-position: center;
    background-size: contain;
    margin-right: 0.5em;
}
.menuUp__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
}
.menuUp__text--phone::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/img/menu_phone.svg);
    background-position: center;
    background-size: contain;
    margin-right: 0.5em;
}
.menuUp__text--mail::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/img/menu_mail.svg);
    background-position: center;
    background-size: contain;
    margin-right: 0.5em;
}
.menuUp__text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar__menu--hidden {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar__hamburger {
        display: none;
    }
}
.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
  
}
.navbar__menu {
    list-style-type: none;
}
/* hamburger menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.0001em;
    text-decoration: none;
    
}

.hamburger-menu::after {
    content: url(/img/hamburger.svg);
}
/* HEADER*/
header{
    position: relative;
    background-size:cover;
    background-position: center;
    margin: 0;
}

/* NAVBAR */
.navbar__logo{
    /*display: inline-block;*/
    color: var(--white-color);
    
    
}
.hamburger-menu {
    margin-right: 1em;
}








.uvodBody__odrazka::before {
    content: "";
    display: inline-block;
    width: 16.3px;
    height: 12.26px;
    background-image: url(/img/uvod_icon.svg);
    background-position: center;
    background-size: contain;
    margin-right: 3px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    border-radius: 30px;
    background-color: var(--primarColor);
}
.button:hover {
    background-color: var(--secondColor);
}
.button--S {
    padding: 6.4px 12.8px;
    border-radius: 16px;
}
.button--border {
    border: 4px solid var(--primarColor);
    border-radius: 30px;
    color: black;
    background-color: white; /*root*/
}
.button--border:hover {
    color: white;
    background-color: var(--primarColor);
}

.hidden { 
    display: none;         /*špatně!!!! od marginovat absolut*/
}


.pribeh {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1em;
    flex-grow: 2;
}
.pribeh__text {
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;   /*overflow*/
    width: 16em;
    height: 4em;
    margin: 0;
}
.pribeh__img {
    flex-grow: 2;
    width: 100%;
    border-radius: 4.3%;
}

.recenze {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 19px;
}
.recenze__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
   /* width: 339px;*/
}
.recenze__text {
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    width: 230px;
    height: 4em;
}

.recenze__wrapper--1 {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    align-items: center;
}

.vyhody {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 2em;
    background: var(--footerText); /*checknout*/
    width: 100vw;
    padding-bottom: 2em;
}
.vyhodyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 27px;
    width: 304px;
    text-align: center;
}
.vyhody__line {
    border: 1px dashed #8ECAE6;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 75%;
    align-self: center;
}
.podrobnostiCard {
    background-color: #ffffff;
    box-shadow: 0px 0px 25px #D2E7EF;   /*barva root*/
    border-radius: 8px;
    padding: 1em;
}
.podrobnostiCard__text {
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    width: 17em;
    height: 4em;
    color: black;   /*barva root*/
    margin-bottom: 2em;
    margin-top: 1em;
}

.aktualita__text {
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    width: 16em;
    height: 2.8em;
}
.aktuality__wrapper { /*zbytecny*/
    display: grid;
    gap: 1em;
    
}

.aktualita {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-right: -3em;
}
.aktualita__wrapper::before {
    content: "24.";
    /*display: inline-block;*/
    width: 43px;
    height: 44px;
    background-image: url(/img/aktualiy.svg);
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--footerText);
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-position-y: 10px;
    /*position: absolute;*/
    margin-left: -3.1em;
    margin-bottom: -2.4em;
}
.aktuality__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--aktualityBg);
    width: 100vw;
}





footer {
    background-color: var(--secondColor);
    width: 100vw;
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer__kategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.7em;
}
.footer__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 0.25em;
}
.footer__mainWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*justify-content: center;*/
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 1em;
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 2em;
}
.footer__wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.7em;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em;
}

.footer__paticka {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.paticka__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}
.footer__line {
    display: block;
    width: 100%;
    border-top: var(--footerText) solid 1px;
    opacity: 0.2;
}


/*FUNKCE */


.dotazy__wrapper {
   /* display: flex;
    flex-direction: column;
    align-items: center;*/
    padding: 0px;
    /*gap: 15px;*/
}
.dotazy__text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15em;
    height: 2.8em;
    text-align: center;
}
.dotazy__mail {
    text-align: center;
}
.dotazy__text--2 {
    text-align: center;
}


.funkce__video::before {
    content: "";
    /*display: inline-block;*/
    width: 50px;
    height: 50px;
    background-image: url(/img/funkce_video.svg);
    /*text-align: center;*/
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
}
.funkce__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    color: black;
}
.podrobnostiCard--funkce {
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.podrobnostiCard--funkce::after {
    content: url(/img/funkce__hover.svg);
    display: flex;
    width: 14.8px;
    height: 10.59px;
    /*background-image: url(/img/funkce__hover.svg);*/
    background-position: center;
    background-size: contain;
    background-color: var(--primarColor);
    position: absolute;
    padding: 0.5em;
    border-radius: 50%;
    
    left: 1em;
    bottom: -0.5em;
    display: none;

}
/*.podrobnostiCard__nadpis--funkce {
    color: var(--secondColor);
}*/
.podrobnostiCard--funkce:hover {
    color: var(--primarColor);
    display: block;
}
.vyhody__podrobnosti--funkce {
    background-color: var(--vyhodyBg);
    padding: 5em;
    border-radius: 32px;
    
}



